/** Layers **/

.Layer {
	display: none;
	opacity: 0;
	transition-duration: 0.2s
}
.Layer.current {opacity: 1}

/* Specific layers */

/* Round layer */
.RoundLayer {
	color: #fff;
	font-size: 40px
}

/* Round player layers */

.RoundPlayerLayer, .RoundPlayerEndLayer {
	color: rgba(255, 255, 255, 0.65);
	font-size: 24px
}

.RoundPlayer, .RoundPlayerEnd {color: #fff}